@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Lato:wght@300&display=swap');
@font-face {
    font-family: "Finger Paint", cursive;
    src: url("../font/FingerPaint-Regular.ttf") format("ttf")
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body {
    font-family: 'Finger Paint', cursive;
    font-weight: 400;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(0, 129, 167, 0.5) 0%,rgba(0, 175, 185, 0.5),rgba(253, 252, 220, 0.5), rgba(254, 217, 183, 0.5),rgba(240, 113, 103, 0.5)  100%);
    min-height: 115vh;
}
/*Header style*/
h1 {
    font-size: 5em;
    color: red;
    animation: colors 25s infinite;
    text-align: center;
}
@keyframes colors {
    0% {color: rgb(124, 55, 55);}
    10% {color: rgb(57, 57, 145);}
    20% {color: rgb(51, 119, 48);}
    30% {color: rgb(48, 109, 84);}
    40% {color: rgb(115, 134, 45);}
    50% {color: rgb(67, 48, 121);}
    60% {color: rgb(83, 83, 153);}
    70% {color: rgb(66, 141, 163);}
    80% {color: rgb(60, 60, 126);}
    90% {color: rgb(170, 134, 66);}
    100% {color: rgb(51, 122, 116);}    
  }
   /*Game information*/
  .info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
  }
  .game-info {
    color: #774929;
    font-size: 3em;
  }
  /*Creating the question mark as rounded dots and cover the coloured dots*/
  .dot {
    position: relative;
    height: 150px;
    width: 150px;
}
.dot-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 75px;
  justify-content: center;
  text-align: center;
  overflow: hidden;  
}

  /*Arrange dots in grid */
#game-area {
    display: grid;
    grid-template-columns:repeat(6, auto);
    grid-gap: 5px;
    margin: 40px;
    justify-content: center; 
  }
  /*This class it will be used to hide the question mark when clicked*/
  .dot.hide .backside {
    display: none;
  }
  /*Overlay text style*/
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #346e2f;

  }
  .overlay-span {
    font-size: .5em;
  }
  .overlay.display {
    display: flex;
    flex-direction: column;
    animation: overlay-appear 1000ms forwards;
  }
  @keyframes overlay-appear {
    from {
      background-color: rgba(202, 4, 4, 0.555);
      font-size: 0;
    }
    to {
      background-color: rgba(0, 0, 0, 0.8);
      font-size: 7em;
    }
  }
  @media screen and (max-width:1200px) {
    h1 {
          font-size: 3em;
    }
    .game-info {
        font-size: 2em;
    }
    .dot {
        height: 120px;
        width: 120px;
    }
    #game-area {
        grid-template-columns:repeat(6, 120px);   
        grid-template-rows: 80px 120px 120px 120px 120px 120px;    
    }
    @keyframes overlay-appear {
        to {
            background-color: rgba(0, 0, 0, 0.8);
            font-size: 5em;
        }
    }      
  }
  @media screen and (max-width: 1000px){
    h1 {
      font-size: 3em;
    }
    .game-info {
      font-size: 2em;
    }
    .dot {
      height: 110px;
      width: 110px;
    }
    #game-area {
      grid-template-columns:repeat(4, auto);  
      grid-template-rows: 80px 110px 110px 110px 110px 110px;    
    }  
    @keyframes overlay-appear {
      to {
        background-color: rgba(0, 0, 0, 0.8);
        font-size: 4em;
      }
    }  
  }